footer.footer
  .container
    p
      | {{'LABEL_PROJECT_ADMIN' | translate}} v1.0.0
      = ' | '
      {{'LABEL_TECHNOLOGY' | translate}}  
      span.fa.fa-html5
      span.fa.fa-css3
      span.fa.fa-bitbucket
      = ' | '
      span.fa.fa-github
        a(href='https://bitbucket.org/sercheo87/administrationproject/issues?status=new&status=open') Issues