.panel.panel-default
  .panel-heading
    .panel-title {{'LABEL_UPLOAD_FILES' | translate}}
  .panel-body
    .col-md-3
      h4 {{'LABEL_UPLOAD_SELECTION' | translate}}
      div(nv-file-drop='', uploader='uploader', options="{ url: '/foo' }")
        .well.my-drop-zone(nv-file-over='', uploader='uploader', over-class='another-file-over-class') {{'LABEL_UPLOAD_DESCRIPTION' | translate}}
          br
          br
          span.fa.fa-file-pdf-o.fa-2x(tooltip-html-unsafe='{{"LABEL_FILE_PDF" | translate}}', tooltip-placement='bottom')
          span.fa.fa-file-excel-o.fa-2x(tooltip-html-unsafe='{{"LABEL_FILE_EXCEL" | translate}}', tooltip-placement='bottom')
          span.fa.fa-file-word-o.fa-2x(tooltip-html-unsafe='{{"LABEL_FILE_WORD" | translate}}', tooltip-placement='bottom')
          span.fa.fa-file-powerpoint-o.fa-2x(tooltip-html-unsafe='{{"LABEL_FILE_POWERPOINT" | translate}}', tooltip-placement='bottom')
          span.fa.fa-file-text-o.fa-2x(tooltip-html-unsafe='{{"LABEL_FILE_TEXT" | translate}}', tooltip-placement='bottom')
          span.fa.fa-file-photo-o.fa-2x(tooltip-html-unsafe='{{"LABEL_FILE_IMAGE" | translate}}', tooltip-placement='bottom')
          span.fa.fa-file-zip-o.fa-2x(tooltip-html-unsafe='{{"LABEL_FILE_ZIP" | translate}}', tooltip-placement='bottom')
      input(type='file', nv-file-select='', uploader='uploader', multiple='')
     
    .col-md-9(style='margin-bottom: 40px')
      h4 {{'LABEL_FILES_SUM' | translate}}
        |  
        span.badge {{ uploader.queue.length }}
      table.table
        thead
          tr
            th(width='50%') {{'LABEL_NAME' | translate}}
            th(ng-show='uploader.isHTML5') {{'LABEL_SIZE' | translate}}
            th(ng-show='uploader.isHTML5') {{'LABEL_PROGRESS' | translate}}     
            th {{'LABEL_STATE' | translate}}
            th {{'LABEL_ACTION' | translate}}
        tbody
          tr(ng-repeat='item in uploader.queue')
            td
              strong {{ item.file.name }}     
            td(ng-show='uploader.isHTML5', nowrap='') {{ item.file.size/1024/1024|number:2 }} MB
            td(ng-show='uploader.isHTML5')
              .progress(style='margin-bottom: 0;')
                .progress-bar.progress-bar-striped.progress-bar-warning(role='progressbar', ng-style="{ 'width': item.progress + '%' }")
            td.text-center
              span(ng-show='item.isSuccess')
                i.glyphicon.glyphicon-ok
              span(ng-show='item.isCancel')
                i.glyphicon.glyphicon-ban-circle
              span(ng-show='item.isError')
                i.glyphicon.glyphicon-remove      
            td(nowrap='')
              button.btn.btn-success.btn-xs(type='button', ng-click='item.upload()', ng-disabled='item.isReady || item.isUploading || item.isSuccess')
                span.fa.fa-upload Upload
              button.btn.btn-warning.btn-xs(type='button', ng-click='item.cancel()', ng-disabled='!item.isUploading')
                span.fa.fa-ban Cancel
              button.btn.btn-danger.btn-xs(type='button', ng-click='item.remove()')
                span.fa.fa-trash Remove
  .panel-footer
    .row
      .col-md-8
        .progress(style='')
          .progress-bar.progress-bar-striped(role='progressbar', ng-style="{ 'width': uploader.progress + '%' }")
      .col-md-4
        .btn-group.btn-group-sm.pull-right
          button.btn.btn-success(type='button', ng-click='uploader.uploadAll()', ng-disabled='!uploader.getNotUploadedItems().length')
            span.fa.fa-upload 
            |  {{'LABEL_UPLOAD_ALL' | translate}}
          button.btn.btn-warning(type='button', ng-click='uploader.cancelAll()', ng-disabled='!uploader.isUploading')
            span.fa.fa-ban 
            |  {{'LABEL_CANCEL_ALL' | translate}}
          button.btn.btn-danger(type='button', ng-click='uploader.clearQueue()', ng-disabled='!uploader.queue.length')
            span.fa.fa-trash 
            |  {{'LABEL_DELETE_ALL' | translate}}
