div(ng-include='"components/navbar/navbar.html"')
.container
  tabset
    tab
      tab-heading {{'LABEL_ADMIN_TYPE_RESOURCE' | translate}}
      include typeResource/typeResource
    tab
      tab-heading {{'LABEL_ADMIN_STATE_ACTIVITY' | translate}}
      include stateActivity/stateActivity