.container(ng-controller='TypeResourceCtrl')
  br
  .panel.panel-default
    .panel-heading
      .panel-title.pull-left Recursos
      .btn-group.pull-right
        button(type='button',ng-click='addTypeResource()').btn.btn-default.fa.fa-plus {{'BUTTON_ADD' | translate}}
      .clearfix
    .panel-body
    table.table.table-striped.table-hover
      thead
        tr
          th {{ 'LABEL_NAME' | translate}}
          th {{ 'LABEL_TYPE' | translate}}
          th {{ 'LABEL_ACTION' | translate}}
      tbody
          tr(ng-repeat='itemTypeResource in collectionTypesResources')
            td
              input(type='hidden', e-type='hidden', editable-text='itemTypeResource.id', value='{{ itemTypeResource.id }}',e-name='id',e-form='rowTypeResourceForm')
              span(editable-text='itemTypeResource.name', e-name='name', e-form='rowTypeResourceForm',e-required='') {{ itemTypeResource.name || 'empty' }}
            td
              span(editable-text='itemTypeResource.description', e-name='description',e-form='rowTypeResourceForm',e-required='') {{ itemTypeResource.description || 'empty' }}
            td
              .btn-group
                form(editable-form='', name='rowTypeResourceForm', ng-show='rowTypeResourceForm.$visible', shown='newTypeResource == itemTypeResource', onbeforesave='saveTypeResource($data)', oncancel='getTypeResource()').form-buttons.form-inline
                  .btn-group
                    button(type='submit',ng-disabled='rowTypeResourceForm.$waiting', ng-click='rowTypeResourceForm.$show()').btn.btn-primary.fa.fa-save {{'BUTTON_SAVE' | translate}}
                    button(type='button',ng-disabled='rowTypeResourceForm.$waiting', ng-click='rowTypeResourceForm.$cancel()').btn.btn-default.fa.fa-ban {{'BUTTON_CANCEL' | translate}}
                .buttons(ng-show='!rowTypeResourceForm.$visible')
                  .btn-group
                    button(type='button',ng-click='rowTypeResourceForm.$show()').btn.btn-default.fa.fa-edit {{'BUTTON_EDIT' | translate}}
                    button(type='button',ng-click='removeTypeResource(itemTypeResource)').btn.btn-danger.fa.fa-eraser {{'BUTTON_DELETED' | translate}}