.container(ng-controller='StateActivityCtrl')
  br
  .panel.panel-default
    .panel-heading
      .panel-title.pull-left Recursos
      .btn-group.pull-right
        button(type='button',ng-click='addStateActivity()').btn.btn-default.fa.fa-plus {{'BUTTON_ADD' | translate}}
      .clearfix
    .panel-body
    table.table.table-striped.table-hover
        thead
            tr
              th {{ 'LABEL_NAME' | translate}}
              th {{ 'LABEL_ACTION' | translate}}
        tbody
            tr(ng-repeat='item in collectionStateActivity')
                td
                  input(type='hidden', e-type='hidden', editable-text='item.id', value='{{ item.id }}',e-name='id',e-form='rowStateActivityForm')
                  span(editable-text='item.state', e-name='state', e-form='rowStateActivityForm',e-required='') {{ item.state || 'empty' }}
                td
                  .btn-group
                    form(editable-form='', name='rowStateActivityForm', ng-show='rowStateActivityForm.$visible', shown='newStateActivity == item', onbeforesave='saveStateActivity($data)', oncancel='getStateActivity()').form-buttons.form-inline
                      .btn-group
                        button(type='submit',ng-disabled='rowStateActivityForm.$waiting', ng-click='rowStateActivityForm.$show()').btn.btn-primary.fa.fa-save {{'BUTTON_SAVE' | translate}}
                        button(type='button',ng-disabled='rowStateActivityForm.$waiting', ng-click='rowStateActivityForm.$cancel()').btn.btn-default.fa.fa-ban {{'BUTTON_CANCEL' | translate}}
                    .buttons(ng-show='!rowStateActivityForm.$visible')
                      .btn-group
                        button(type='button',ng-click='rowStateActivityForm.$show()').btn.btn-default.fa.fa-edit {{'BUTTON_EDIT' | translate}}
                        button(type='button',ng-click='removeStateActivity(item)').btn.btn-danger.fa.fa-eraser {{'BUTTON_DELETED' | translate}}
