div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 'Allo,  'Allo! hello
    p.lead Kick-start your next web app with Angular Fullstack
    img(src='assets/images/yeoman.png',  alt='I\'m Yeoman')

.container
  .row
    .col-lg-12
      h1.page-header {{'TITLE_PROJECT_INFO' | translate}}
      form(id='frmProyect', editable-form='', name='formProject', onaftersave='projectSave()').form-horizontal
        .form-group
          label.control-label.col-md-2 {{'LABEL_NAME' | translate}}:
          .col-md-10
            label(editable-text='project.name', e-name='name', e-required='', e-placeholder='{{"PH_NAME_PROJECT" | translate}}' ).control-label {{ project.name || 'LABEL_EMPTY' | translate }}

        .form-group
          label.control-label.col-md-2 {{'LABEL_DESCRIPTION' | translate}}:
          .col-md-10
            label(editable-text='project.description', e-name='description', e-required='' ) {{ project.name || 'LABEL_EMPTY' | translate }}
        
        .form-group
          label.control-label.col-md-2 {{'LABEL_DATE_START' | translate}}:
          .col-md-10
            label(editable-bsdate-new='project.dateStart', e-name='dateStart', e-required='') {{ project.dateStart | date:'fullDate' }}
        
        .form-group
          label.control-label.col-md-2 {{'LABEL_DURATION' | translate}}:
          .col-md-10
            label(editable-text='project.duration',e-datepicker-popup='dd-MMMM-yyyy', e-name='duration', e-required='', e-placeholder='{{"PH_DURATION_PROJECT" | translate}}' ) {{ project.duration || 'LABEL_EMPTY' | translate }}
        
        .form-group
          .col-md-offset-2.col-md-10
            button(type='button', ng-click='formProject.$show()', ng-show='!formProject.$visible').btn.btn-default {{'BUTTON_EDIT' | translate}}

        .form-group(ng-show='formProject.$visible')
          .col-md-offset-2.col-md-10
            button(type='submit', ng-disabled='formProject.$waiting').btn.btn-primary {{'BUTTON_SAVE' | translate}}
            button(type='button', ng-click='formProject.$cancel()', ng-disabled='formProject.$waiting').btn.btn-default {{'BUTTON_CANCEL' | translate}}

      .panel.panel-default
        .panel-heading
          .panel-title.pull-left {{'LABEL_RESOURCES' | translate}}
          .btn-group.pull-right
            button(type='button', ng-click='addResource()').btn.btn-default.fa.fa-plus {{'BUTTON_ADD' | translate}}
          .clearfix
        .panel-body
        table.table.table-striped.table-hover
            thead
                tr
                    th {{ 'LABEL_QUANTITY' | translate}}
                    th {{ 'LABEL_TYPE' | translate}}
                    th {{ 'LABEL_ACTION' | translate}}
            tbody
                tr(ng-repeat='itemResource in collectionResources track by $index')
                    td
                      span(editable-text='itemResource.quantity', e-name='quantity', e-form='rowform', e-required='', required='') {{ itemResource.quantity || 'empty' }}
                    td 
                      span(editable-select='itemResource.typeResource.id', e-name='dtype', e-form='rowform', e-ng-options='s.id as s.name for s in typesResources') {{ showTypeResource(itemResource) }}
                    td
                      .btn-group
                        form(editable-form='', name='rowform', ng-show='rowform.$visible', shown='inserted == itemResource', onbeforesave='saveResource($data,  user.id)').form-buttons.form-inline
                          .btn-group
                            button(type='submit', ng-disabled='rowform.$waiting', ng-click='rowform.$show()').btn.btn-primary.fa.fa-save {{'BUTTON_SAVE' | translate}}
                            button(type='button', ng-disabled='rowform.$waiting', ng-click='rowform.$cancel()').btn.btn-default.fa.fa-ban {{'BUTTON_CANCEL' | translate}}
                        .buttons(ng-show='!rowform.$visible')
                          .btn-group
                            button(type='button', ng-click='rowform.$show()').btn.btn-default.fa.fa-edit {{'BUTTON_EDIT' | translate}}
                            button(type='button', ng-click='removeResource($index)').btn.btn-danger.fa.fa-eraser {{'BUTTON_DELETED' | translate}}

footer.footer
  .container
    p
      | Angular Fullstack v2.0.13
      = ' | '
      a(href='https://twitter.com/tyhenkel') @tyhenkel
      = ' | '
      a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues