include ../navigation_bar

header#banner.hero-unit
  .container
    h1 'Allo,  'Allo! hello
    p.lead Kick-start your next web app with Angular Fullstack
    img(src='assets/images/yeoman.png',  alt='I\'m Yeoman')

a(href='/Projects/1') XXX
 
footer.footer
  .container
    p
      | Angular Fullstack v2.0.13
      = ' | '
      a(href='https://twitter.com/tyhenkel') @tyhenkel
      = ' | '
      a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues