div(ng-include='"components/navbar/navbar.html"',uploader="uploader",filters="queueLimit, customFilter")

header#banner.hero-unit
  .container
    h1 'Allo,  'Allo! hello
    p.lead Kick-start your next web app with Angular Fullstack
    img(src='assets/images/yeoman.png',  alt='I\'m Yeoman')

.container
  .row
    .col-lg-12
      h1.page-header {{'TITLE_PROJECT_INFO' | translate}}
      form(id='frmProyect', editable-form='', name='formProject', onaftersave='projectSave()').form-horizontal
        .form-group
          label.control-label.col-md-2 {{'LABEL_NAME' | translate}}:
          .col-md-10
            label(editable-text='project.name', e-name='name', e-required='', e-placeholder='{{"PH_NAME_PROJECT" | translate}}' ).control-label {{ project.name || 'LABEL_EMPTY' | translate }}

        .form-group
          label.control-label.col-md-2 {{'LABEL_DESCRIPTION' | translate}}:
          .col-md-10
            label(editable-text='project.description', e-name='description', e-required='' ).control-label  {{ project.name || 'LABEL_EMPTY' | translate }}
        
        .form-group
          label.control-label.col-md-2 {{'LABEL_DATE_START' | translate}}:
          .col-md-10
            label(editable-bsdate-new='project.dateStart', e-name='dateStart', e-required='').control-label  {{ project.dateStart | date:'fullDate' }}
        
        .form-group
          label.control-label.col-md-2 {{'LABEL_DURATION' | translate}}:
          .col-md-10
            label(editable-text='project.duration',e-datepicker-popup='dd-MMMM-yyyy', e-name='duration', e-required='', e-placeholder='{{"PH_DURATION_PROJECT" | translate}}' ).control-label  {{ project.duration || 'LABEL_EMPTY' | translate }}
        
        .form-group
          .col-md-offset-2.col-md-10
            button(type='button', ng-click='formProject.$show()', ng-show='!formProject.$visible').btn.btn-default {{'BUTTON_EDIT' | translate}}

        .form-group(ng-show='formProject.$visible')
          .col-md-offset-2.col-md-10
            button(type='submit', ng-disabled='formProject.$waiting').btn.btn-primary {{'BUTTON_SAVE' | translate}}
            button(type='button', ng-click='formProject.$cancel()', ng-disabled='formProject.$waiting').btn.btn-default {{'BUTTON_CANCEL' | translate}}
      
      input(type="file",ng-model='myfile',file-model='myfile', nv-file-select='', uploader="uploader")
      ul
        li(ng-repeat="item in uploader.queue")
          Name: ||
          span(ng-bind="item.file.name")
          button(ng-click="item.upload()") upload
      .col-md-9(style='margin-bottom: 40px')
      h3 Upload queue
        |                     
        p Queue length: {{ uploader.queue.length }}
        |                     
        table.table
          thead
            tr
              th(width='50%') Name
              |                                 
              th(ng-show='uploader.isHTML5') Size
              |                                 
              th(ng-show='uploader.isHTML5') Progress
              |                                 
              th Status
              |                                 
              th Actions
          |                         
          tbody
            tr(ng-repeat='item in uploader.queue')
              td
                strong {{ item.file.name }}
              |                                 
              td(ng-show='uploader.isHTML5', nowrap='') {{ item.file.size/1024/1024|number:2 }} MB
              |                                 
              td(ng-show='uploader.isHTML5')
                .progress(style='margin-bottom: 0;')
                  .progress-bar(role='progressbar', ng-style="{ 'width': item.progress + '%' }")
              |                                 
              td.text-center
                span(ng-show='item.isSuccess')
                  i.glyphicon.glyphicon-ok
                |                                     
                span(ng-show='item.isCancel')
                  i.glyphicon.glyphicon-ban-circle
                |                                     
                span(ng-show='item.isError')
                  i.glyphicon.glyphicon-remove
              |                                 
              td(nowrap='')
                button.btn.btn-success.btn-xs(type='button', ng-click='item.upload()', ng-disabled='item.isReady || item.isUploading || item.isSuccess')
                  span.glyphicon.glyphicon-upload
                  |  Upload
                |                                     
                button.btn.btn-warning.btn-xs(type='button', ng-click='item.cancel()', ng-disabled='!item.isUploading')
                  span.glyphicon.glyphicon-ban-circle
                  |  Cancel
                |                                     
                button.btn.btn-danger.btn-xs(type='button', ng-click='item.remove()')
                  span.glyphicon.glyphicon-trash
                  |  Remove
        |                     
        div
          div
            | Queue progress:
            .progress(style='')
              .progress-bar(role='progressbar', ng-style="{ 'width': uploader.progress + '%' }")
          |                         
          button.btn.btn-success(type='button', ng-click='uploader.uploadAll()', ng-disabled='!uploader.getNotUploadedItems().length')
            span.glyphicon.glyphicon-upload
            |  Upload all
          |                         
          button.btn.btn-warning(type='button', ng-click='uploader.cancelAll()', ng-disabled='!uploader.isUploading')
            span.glyphicon.glyphicon-ban-circle
            |  Cancel all
          |                         
          button.btn.btn-danger(type='button', ng-click='uploader.clearQueue()', ng-disabled='!uploader.queue.length')
            span.glyphicon.glyphicon-trash
            |  Remove all


      include ../activity/activity
 
footer.footer
  .container
    p
      | Angular Fullstack v2.0.13
      = ' | '
      a(href='https://twitter.com/tyhenkel') @tyhenkel
      = ' | '
      a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues